﻿@media print
{
  .ui-header{position:absolute}
  .ui-collapsible-heading a{background-color:lightgray!important}
  div.ui-collapsible-content-collapsed{display:block}  
  .ui-disabled, .ui-state-disabled, button[disabled], .ui-select .ui-btn.ui-state-disabled{opacity:.7}
	input[disabled]{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none; 
		opacity:.9
	}
}

body {font-family:"Myriad Set Pro","Helvetica Neue",Arial,"Lucida Grande",sans-serif}
.red{color:Red}.stripe{color:white;background:url('images/stripe2.png')}
.icone85237 a:after{background-color:#e85237}
.icon2fa694 a:after{background-color:#2FA694}
.iconfea734 a:after{background-color:#fea734}
.icon163e67 a:after{background-color:#163E67}
.icon5994bf a:after{background-color:#5994bf}
.icongreen a:after{background-color:green}
.iconblack a:after{background-color:black}
.iconblue a:after{background-color:blue}
.icon4e9c52 a:after{background-color:#4e9c52}
.icon5d74c3 a:after{background-color:#5d74c3}
.icon9c4e4e a:after{background-color:#9c4e4e}
.icon3c8cc2 a:after{background-color:#3c8cc2}
.iconbf4646 a:after{background-color:#BF4646}
.icon5e87b0 a:after{background-color:#5e87b0;opacity:.6}
.icon305072 a:after{background-color:#305072}
.iconcrimson a:after{background-color:crimson}

.COLOR0 a:after{background-color:#f8696b}
.COLOR1 a:after{background-color:#f98570}
.COLOR2 a:after{background-color:#fba276}
.COLOR3 a:after{background-color:#fcbf7b}
.COLOR4 a:after{background-color:#fedc81}
.COLOR5 a:after{background-color:#eee683}
.COLOR6 a:after{background-color:#ccdd82}
.COLOR7 a:after{background-color:#a9d27f}
.COLOR8 a:after{background-color:#86c97e}
.COLOR9 a:after{background-color:#63be7b}
.COLOR10 a:after{background-color:#ffbc40}
.COLOR11 a:after{background-color:#ffce73}
.COLOR12 a:after{background-color:#bfa430}
.COLOR13 a:after{background-color:#bf6d30}
.GREY0 a:after{background-color:#f2f2f2}
.GREY1 a:after{background-color:#d6d6d6}
.GREY2 a:after{background-color:#b9b9b9}
.GREY3 a:after{background-color:#9d9d9d}
.GREY4 a:after{background-color:gray}
.GREY5 a:after{background-color:#636363}
.GREY6 a:after{background-color:#474747}
.GREY7 a:after{background-color:#2a2a2a}
.GREY8 a:after{background-color:#0d0d0d}
.GREY9 a:after{background-color:#000}
.BLUE a:after{background-color:#66d2f5}
.normalfont li a {font-weight:400!important}

div.ui-collapsible-content div.ui-field-contain div.ui-slider {max-width:75em}
.lm{text-align:center;margin:2px 0}

#ProfielKeuze h4, #ProfielKeuzeAlt h4{color:#41739c!important}
#ProfielKeuze .ui-radio label span.ui-btn-text,#ProfielKeuzeAlt .ui-radio label span.ui-btn-text {font-size:15px!important}
.filledRatingStar{float:left;
     font-size:0;width:13px;height:12px;margin-top:-4px;margin-bottom:-4px;padding:0;display:block;background-color:Transparent;background-repeat:no-repeat;
     background-image:url(../images/FilledStar.png)}
.emptyRatingStar{float:left;
     font-size:0;width:13px;height:12px;margin-top:-4px;margin-bottom:-4px;padding:0;display:block;background-color:Transparent;background-repeat:no-repeat;
     background-image:url(../images/EmptyStar.png)}
/* validation styles */
label.error{color: red;font-size: 16px;font-weight:normal;line-height:1.4;margin-top:0.5em;width:100%;float:none}
@media screen and (orientation:portrait){label.error{margin-left:0;display:inline-block}}
@media screen and (orientation:landscape){label.error{display:inline-block;margin-left:22%}}
#frmLogin em {color:red;font-weight: bold;padding-right:.25em}
h4,h5,h6 {padding:0!important}
div[data-role="footer"] h5{padding:0;font-size:10px!important} 
.ui-collapsible-content>div{margin-bottom:10px;padding-bottom:2px;border-bottom:dashed 1px #e2e2e2}/*Enquete vragen binnen categorie uit elkaar houden*/
.ui-collapsible-content>div:last-of-type{margin-bottom:0;padding-bottom:0;border-bottom-width:0} /*laatste: geen extra ruimte inpikken*/
.ui-collapsible-content>div>legend{width:100%}
input[value="Goed"]+label.ui-btn{min-width:80px}
.leftIcon:after{margin-left:-5px}
.leftIcon{vertical-align:middle;margin:1px 3px 1px 0;padding:2px 4px 2px 21px;font-weight:400}

.rubric {padding-bottom:14px!important;}
.rubric .ui-controlgroup-controls {display:flex;align-items:stretch;}
.rubric .ui-controlgroup-controls .ui-radio {flex-grow:1;flex-basis:0;max-width:22em}
.rubric .ui-controlgroup-controls .ui-radio label {height:99%;padding-bottom:.1em;padding-right:.2em}
.rubric .ui-controlgroup-controls .ui-radio label div {display:inline-block}
